<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ime %>
    <%= form.text_field :ime, id: :place_ime %>
  </div>

  <div class="field">
    <%= form.label :opis %>
    <%= form.text_area :opis, id: :place_opis %>
  </div>

  <div class="field">
    <%= form.label :lokacija %>
    <%= form.text_field :lokacija, id: :place_lokacija %>
  </div>

  <div class="field">
    <%= form.label :kraj %>
    <%= form.text_field :kraj, id: :place_kraj %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
