<%= form_for @place, :html => {:multipart => true} do |f| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ime %><br>
    <%= f.text_field :ime, id: :place_ime, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :opis %><br>
    <%= f.text_area :opis, id: :place_opis, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lokacija %><br>
    <%= f.text_field :lokacija, id: :place_lokacija, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :kraj %><br>
    <%= f.text_field :kraj, id: :place_kraj, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Upload</span>
  </div>
  <div class="custom-file">
    <%= f.file_field :image, class: "custom-file-input" %> 
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Dodaj</button><br><br>
  </div>
<% end %>
