<p id="notice"><%= notice %></p>
<b id="uporabnik"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></b>
<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Ime</th>
      <th>Opis</th>
      <th>Lokacija</th>
      <th>Kraj</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place.each do |place| %>
      <tr>
        <td><%= place.ime %></td>
        <td><%= place.opis %></td>
        <td><%= place.lokacija %></td>
        <td><%= place.kraj %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_coctail_path(coctail) %></td>
            <td ><%= link_to 'Destroy', coctail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!--  <% if current_user.admin == true %>
          <td><%= link_to 'Edit', edit_coctail_path(coctail) %></td>
            <td ><%= link_to 'Destroy', coctail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
