<style>

.btn a {
  color:white;
  text-decoration: none;
}

.body {
  margin: auto;
}

</style>
<div class="body">
<div class="row">
<div class="col-3"></div>
<div class="col-6">
<p id="notice"><%= notice %></p>

<h1>Nepremičnine</h1>

<% @place.each do |place| %>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><%= place.ime %></h5>
    <p class="card-text"><%= place.opis %></p>
    <p class="card-text">Lokacija: <%= place.lokacija %></p>
    <p class="card-text">Kraj: <%= place.kraj %></p>
    <div class="btn btn-info"><%= link_to 'Pokaži', place %></div>
    <% if user_signed_in? %>
    <% if current_user.admin == true && %>
    <div class="btn btn-primary"><%= link_to 'Uredi', edit_place_path(place) %></div>
    <div class="btn btn-danger"><%= link_to 'Izbriši', place, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>
<br>
</div>
<div class="col-3"></div>
</div>
</div>
