<style>
hr {
  margin-top:3em;
  margin-bottom: 3em;
}
</style>

<div class="row">
<div class="col-3"></div>
<div class="col-6">
<p id="notice"><%= notice %></p>

<p>
  <h1><%= @place.ime %></h1>
</p>

<p>
  <h2><%= @place.opis %></h2>
</p>

<p>
  <strong>Lokacija:</strong>
  <%= @place.lokacija %>
</p>

<p>
  <strong>Kraj:</strong>
  <%= @place.kraj %>
</p>
<hr>
<div class="komentarji">
<h4>Komentarji (<%= @place.comments.count %>)</h4>
<div class="komentar">
	<%= render @place.comments %>
</div>
<% if user_signed_in? %>
<div class="dodaj_kom">
	<h3>Dodaj komentar:</h3>
	<%= render "comments/form" %>
</div>
<% if current_user.admin == true && %>
<div class="btn btn-secondary"><%= link_to 'Edit', edit_place_path(@place) %></div> |
<% end %>
<% end %>
<div class="btn btn-secondary"><%= link_to 'Back', places_path %></div>
<div class="col-3"></div>
