<!DOCTYPE html>
<html>
    <title>Nepremicnine App</title>
    <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <link rel="stylesheet" href="/resources/demos/style.css">

	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#resizable" ).resizable({
      animate: false,
      maxHeight: 600,
      maxWidth: 900,
      minHeight: 200,
      minWidth: 300,
      aspectRatio: 300 / 200,
      ghost: true
    });
  } );
  </script>
  </head>
<body>
 <%= render 'layouts/navbar' %>
 <p id="notice"><%= notice %></p>	
       <p class="alert"><%= alert %></p>
    <%= yield %>
</body>
</html>